{% extends "xk_base.html" %}

{% block head %}
<style>
    .file-list {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 200px;
        border: 1px solid #ddd;
    }

    .file-list li {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        background-color: #f9f9f9;
        cursor: pointer;
    }

    .file-list li:hover {
        background-color: #efefef;
    }

    .file-list li:last-child {
        border-bottom: none;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }

    .borderless-button {
        background: none;
        /* 移除背景色 */
        border: none;
        /* 移除边框 */
        padding: 10px 20px;
        /* 设置按钮内边距 */
        margin: 0;
        /* 移除默认的外边距 */
        cursor: pointer;
        /* 设置鼠标悬停时的指针手势 */
        font-size: 16px;
        /* 设置字体大小 */
        color: #444444;
        /* 设置按钮文本颜色 */
        outline: none;
        /* 移除点击时的轮廓 */
        transition: background-color 0.3s;
        /* 平滑过渡效果 */
    }

    .borderless-button:hover {
        background-color: #f0f0f0;
        /* 鼠标悬停或聚焦时的背景色 */
    }
</style>
{% endblock %}

{% block body %}
<div>
    <div>
        <button id="buttonCreateFile" class="borderless-button" type="button" onclick="onCreateFileClick()"
            title="新建文件">
            <div>
                <img src="static/add.svg" style="width:24px;height:24px;" />
            </div>
        </button>
        <button id="buttonImportFile" class="borderless-button" type="button" onclick="onImportFileClick()"
            title="导入文件">
            <div>
                <img src="static/file.svg" style="width:24px;height:24px;" />
            </div>
            <form id="fileUploadForm" method="post" action="{{ url_for('XKnowledge.XKHomePageView') }}"
                enctype="multipart/form-data" style="display:none">
                <input type="file" id="fileUpload" name="file" accept=".xk" />
            </form>
        </button>

        <div id="dialogCreateFile" style="display: none;">
            <form id="createFileFieldForm" method="post">
                <label for="fileNameField" style="font-size:16px;color:#444444;">文件名称</label>
                <input type="text" id="fileNameField" />
                <button type="submit" class="borderless-button">创建</button>
            </form>
        </div>
    </div>
    <div>
        <h2>
            文件列表：
        </h2>
        <div>
            <table>
                <tr>
                    <td>文件名</td>
                    <td>操作</td>
                </tr>
                {% for file in files %}
                <tr>
                    <td>{{ file }}</td>
                    <td>
                        <button onclick="onListItemClick('{{ file }}')">打开</button>
                        <button onclick="deleteFileByName('{{ file }}')">删除</button>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

<!-- <script src="static/xk_homepage.js"></script> -->

<script type="text/javascript">
    function sendData(formData, operation) {
        // 发送数据到后端
        fetch("{{ url_for("XKnowledge.XKHomePageView") }}", {
            method: "POST",
            body: formData // 将FormData对象作为请求体发送
        }).then(response => {
            if (response.ok) {
                operation();
            }
        });
    }

    function onListItemClick(file_name) {
        const formData = new FormData();
        formData.append("operationType", "openFile");
        formData.append("fileName", JSON.stringify(file_name));
        sendData(formData, window.electronAPI.ipcsend());
    }

    function deleteFileByName(file_name) {
        const formData = new FormData();
        formData.append("operationType", "deleteFile");
        formData.append("fileName", JSON.stringify(file_name));
        sendData(formData, () => {
            // 刷新当前页面
            location.reload();
        })
    }

    const dialogCreateFile = document.getElementById("dialogCreateFile");

    function onCreateFileClick() {
        if (dialogCreateFile.style.display === "none") {
            dialogCreateFile.style.display = "block";
        } else {
            dialogCreateFile.style.display = "none";
        }
    }

    document.getElementById("createFileFieldForm").addEventListener("submit", function (event) {
        // 获取表单内的所有控件
        // event.preventDefault()
        dialogCreateFile.style.display = "none"; // 当表单提交时，关闭弹窗

        const formData = new FormData();
        formData.append("operationType", "createFile");
        console.log(this.elements['fileNameField']);
        formData.append("fileName", JSON.stringify(this.elements['fileNameField'].value));
        sendData(formData, window.electronAPI.ipcsend());
    });

    function onImportFileClick() {
        document.getElementById('fileUpload').click();
    }

    document.getElementById('fileUpload').addEventListener('change', function () {
        document.getElementById('fileUploadForm').submit();
    });

</script>

{% endblock %}