{% extends "xk_base.html" %}

{% block head %}
<script src="../static/echarts.js"></script>
<script src="../static/jquery.js"></script>
<script src="../static/xk_option.js"></script>
<script>
    function highlight(dataIndex, dataType) {
        // 高亮，根据数据类型和位置来高亮
        chartInstance.dispatchAction({
            type: "highlight",
            seriesIndex: 0,
            dataType: dataType,
            dataIndex: dataIndex
        });
    }

    function downplayByName(name) {
        // 解除节点高亮，有时节点无法知道自己的index
        chartInstance.dispatchAction({
            type: "downplay",
            seriesIndex: 0,
            dataType: "node",
            name: name
        });
    }

    function downplay(dataIndex, dataType) {
        // 解除高亮，根据数据类型和位置来解除
        chartInstance.dispatchAction({
            type: "downplay",
            seriesIndex: 0,
            dataType: dataType,
            dataIndex: dataIndex
        });
    }

    function downplayAll(highlightNodeList) {
        // 解除全部节点的高亮
        for (let i = 0; i < highlightNodeList.length; i++) {
            downplayByName(highlightNodeList[i]);
        }
    }

    function sendData(formData, chart) {
        // 发送数据到后端
        if (chart === undefined) {
            fetch("{{ url_for("XKnowledge.XKMainView") }}", {
                method: "POST",
                body: formData // 将FormData对象作为请求体发送
            });
        } else {
            fetch("{{ url_for("XKnowledge.XKMainView") }}", {
                method: "POST",
                body: formData // 将FormData对象作为请求体发送
            }).then(response => {
                return response.json();
            }).then(data => {
                chart.setOption(createOption(data));
            });
        }
    }

    class HighlightClass {
        constructor() {
            this.highlightNodeList = []; // 记录旧的高亮节点
            this.highlightEdge = undefined;
        }

        addNode(name, dataIndex) {
            const pos = this.highlightNodeList.indexOf(name);
            if (pos !== -1 && this.highlightNodeList.length !== 0) {
                // 当重复点击节点的时候，将节点高亮去掉，并且更新highlightNodeList
                if (this.highlightNodeList.length === 1) {
                    downplay(dataIndex, "node");
                    this.highlightNodeList = [];
                } else {
                    downplay(dataIndex, "node");
                    this.highlightNodeList = [this.highlightNodeList[(pos + 1) % 2]];// 取pos对应的另一个节点
                }
            } else {
                if (this.highlightNodeList.length < 2) {
                    // 点击第一个节点时，高亮点击的那个节点，点击第二个节点时，高亮新点击的节点
                    this.highlightNodeList[this.highlightNodeList.length] = name;
                    highlight(dataIndex, "node");
                } else {
                    // 点击第三个节点时，将第一个节点高亮取消，并把第二个节点放到第一个位置上，为了后面的有向链接做准备
                    downplayByName(this.highlightNodeList[0]);
                    highlight(dataIndex, "node");
                    this.highlightNodeList[0] = this.highlightNodeList[1];
                    this.highlightNodeList[1] = name;

                }
                console.log(this.highlightNodeList);
            }
        }

        addEdge(data, dataIndex) {
            if (this.highlightEdge === undefined) {
                // 如果边没有初始化，就初始化
                this.highlightEdge = { data: data, dataIndex: dataIndex };
                highlight(dataIndex, "edge");
            } else {
                // 如果边初始化了，就将旧的边解除高亮
                downplay(this.highlightEdge.dataIndex, "edge");
                if (this.highlightEdge.dataIndex !== dataIndex){
                    this.highlightEdge = { data: data, dataIndex: dataIndex };
                    highlight(dataIndex, "edge");
                } else {
                    this.highlightEdge.dataIndex = undefined;
                }
            }
        }

        reset() {
            downplayAll(this.highlightNodeList);
            this.highlightNodeList = [];
            if (this.highlightEdge !== undefined) {
                downplay(this.highlightEdge.dataIndex, "edge");
            }
            this.highlightEdge = undefined;
        }

        resetNode() {
            downplayAll(this.highlightNodeList);
            this.highlightNodeList = [];
        }

        resetEdge() {
            if (this.highlightEdge !== undefined) {
                downplay(this.highlightEdge.dataIndex, "edge");
                this.highlightEdge = undefined;
            }
        }
    }
</script>
{% endblock %}


{% block body %}
<div id="main" style="height:calc(100vh - 40px);margin:auto 0">
    <button id="buttonCreateNode" type="button">创建节点</button>
    <button id="buttonCreateEdge" type="button">创建边</button>

    <div id="dialogCreateNode" style="display: none;">
        <form id="createNodeFieldForm" method="post">
            <label for="nodeNameField">名称:</label>
            <input type="text" id="nodeNameField" />
            <label for="nodeDescribeField">描述:</label>
            <input type="text" id="nodeDescribeField" />
            <label for="categoryField">所属类目:</label>
            <input type="text" id="categoryField" />
            <button type="submit">创建</button>
        </form>
    </div>

    <div id="dialogCreateEdge" style="display: none;">
        <form id="createEdgeFieldForm" method="post">
            <label for="edgeNameField">名称:</label>
            <input type="text" id="edgeNameField" />
            <label for="edgeDescribeField">描述:</label>
            <input type="text" id="edgeDescribeField" />
            <button type="submit">创建</button>
        </form>
    </div>

    <div id="chart" style="width:100%;height:100%;margin:auto auto"></div>
    <script type="text/javascript">
        const highlightInstance = new MyHighlightClass();
        const chartInstance = echarts.init(document.getElementById("chart"));
        chartInstance.showLoading(); // 加载等待
        let jsonData = {{ json_data | tojson }};

        chartInstance.hideLoading();// 隐藏加载等待
        chartInstance.setOption(createOption(jsonData));

        const dialogCreateNode = document.getElementById("dialogCreateNode");
        const dialogCreateEdge = document.getElementById("dialogCreateEdge");

        chartInstance.on("click", function (event) {
            console.log(event);
            if (event.dataType === "node") {
                highlightInstance.addNode(event.name, event.dataIndex);
                if (highlightInstance.highlightNodeList.length === 2 && dialogCreateNode.style.display === "block") {
                    // 当前已经打开了增加节点的输入框，将输入框关闭
                    dialogCreateNode.style.display = "none";
                    alert("增加节点时不能同时选择两个节点");
                }
                if (highlightInstance.highlightNodeList.length < 2 && dialogCreateEdge.style.display === "block") {
                    // 当前已经打开了增加边地输入框，将输入框关闭
                    dialogCreateEdge.style.display = "none";
                    alert("增加边时要同时选择两个节点");
                }
            } else if (event.dataType === "edge") {
                highlightInstance.addEdge(event.data, event.dataIndex)
            }
        });

        chartInstance.getZr().on("click", function (event) {
            // 没有 target 意味着鼠标/指针不在任何一个图形元素上，它是从“空白处”触发的。
            if (!event.target) {
                highlightInstance.reset();
                if (dialogCreateEdge.style.display === "block") {
                    // 当前已经打开了增加边地输入框，将输入框关闭
                    dialogCreateEdge.style.display = "none";
                    alert("增加边时要同时选择两个节点");
                }
            }
        });

        document.getElementById("buttonCreateNode").addEventListener("click", function (event) {
            dialogCreateEdge.style.display = "none";
            if (highlightInstance.highlightNodeList.length === 2) {
                // 点击创建节点的时候，发现高亮了两个节点，就将全部高亮节点取消
                highlightInstance.resetNode();
                dialogCreateNode.style.display = "none";
                alert("增加节点时不能同时选择两个节点");
            } else {
                if (dialogCreateNode.style.display === "none") {
                    dialogCreateNode.style.display = "block";
                } else {
                    dialogCreateNode.style.display = "none";
                }
            }
        });

        document.getElementById("createNodeFieldForm").addEventListener("submit", function (event) {
            // 获取表单内的所有控件
            event.preventDefault()
            dialogCreateNode.style.display = "none"; // 当表单提交时，关闭弹窗
            if (highlightInstance.highlightNodeList.length === 2) {
                // 点击创建节点的时候，发现高亮了两个节点，就将全部高亮节点取消
                highlightInstance.resetNode();
                alert("增加节点时不能同时选择两个节点");
            } else {
                // 创建节点的时候先检测所有的节点名称，是否重名
                // const option = chartInstance.getOption();
                const nodeNames = chartInstance.getOption().series[0].data.map(function (node) {
                    return node.name;
                });
                const node_name_field = this['nodeNameField'];
                if (nodeNames.indexOf(this['nodeNameField'].value) !== -1) {
                    alert("不能创建同名节点，请修改节点名称");
                } else {
                    // 不重名的情况下发送数据到后端
                    const node_desc = this['nodeDescribeField'];
                    const category_field = this['categoryField'];
                    const formData = new FormData();
                    formData.append("highlightNode", JSON.stringify(highlightInstance.highlightNodeList));
                    formData.append("createNode", JSON.stringify({
                        name: node_name_field.value,
                        des: node_desc.value,
                        symbolSize: 50,
                        category: category_field.value
                    }));
                    sendData(formData, chartInstance);
                    node_name_field.value = "";
                    node_desc.value = "";
                    category_field.value = "";
                }
                highlightInstance.reset();
            }
        });

        document.getElementById("buttonCreateEdge").addEventListener("click", function (event) {
            dialogCreateNode.style.display = "none";
            if (highlightInstance.highlightNodeList.length === 2) {
                if (dialogCreateEdge.style.display === "none") {
                    dialogCreateEdge.style.display = "block";
                } else {
                    dialogCreateEdge.style.display = "none";
                }
            } else {
                dialogCreateEdge.style.display = "none";
                alert("增加连接时需要同时选择两个节点");
            }
        });

        document.getElementById("createEdgeFieldForm").addEventListener("submit", function (event) {
            // 获取表单内的所有控件
            event.preventDefault();
            dialogCreateEdge.style.display = "none"; // 当表单提交时，关闭弹窗

            const formData = new FormData();
            formData.append("highlightNode", JSON.stringify(highlightInstance.highlightNodeList));
            formData.append("createEdge", JSON.stringify({
                name: this['edgeNameField'].value,
                des: this['edgeDescribeField'].value
            }));
            sendData(formData, chartInstance);
            highlightInstance.reset();
        });

        window.addEventListener("resize", () => {
            // 当窗口大小变化时，重新刷新图表
            chartInstance.resize();
        });

        window.addEventListener("keydown", (event) => {
            if (event.ctrlKey && event.key === "s") {
                const formData = new FormData();
                formData.append("saveData", 1);
                sendData(formData, undefined);
            }

            if (event.ctrlKey && event.key === "r") {
                const formData = new FormData();
                formData.append("reloadData", 1);
                sendData(formData, chartInstance);
                window.location.reload();// issues
            }

            if (event.key === "Insert") {
                dialogCreateEdge.style.display = "none";
                if (highlightInstance.highlightNodeList.length === 2) {
                    // 点击创建节点的时候，发现高亮了两个节点，就将全部高亮节点取消
                    highlightInstance.resetNode();
                    dialogCreateNode.style.display = "none";
                    alert("增加节点时不能同时选择两个节点");
                } else {
                    if (dialogCreateNode.style.display === "none") {
                        dialogCreateNode.style.display = "block";
                    } else {
                        dialogCreateNode.style.display = "none";
                    }
                }
            }

            if (event.key === "Delete") {
                // todo 这个逻辑需要修改后端，将delete在后端上合并，并且前端只发送一个form
                dialogCreateEdge.style.display = "none";
                if (highlightInstance.highlightEdge !== undefined) {
                    const formData = new FormData();
                    formData.append("highlightLink", JSON.stringify(highlightInstance.highlightEdge));
                    formData.append("deleteLink", 1);
                    sendData(formData, chartInstance);
                    highlightInstance.highlightEdge = undefined;
                }
                const formData = new FormData();
                formData.append("highlightNode", JSON.stringify(highlightInstance.highlightNodeList));
                formData.append("deleteNode", 1);
                sendData(formData, chartInstance);
                highlightInstance.highlightNodeList = [];
            }

            if (event.ctrlKey && event.key === "z") {
                const formData = new FormData();
                formData.append("undo", 1);
                sendData(formData, chartInstance);
            }

            if (event.ctrlKey && event.key === "y") {
                const formData = new FormData();
                formData.append("redo", 1);
                sendData(formData, chartInstance);
            }
        });

        window.electronAPI.ipcRecive((value) => {
            if (value === "save") {
                const formData = new FormData();
                formData.append("saveData", 1);
                sendData(formData, undefined);
            } else if (value === "undo") {
                const formData = new FormData();
                formData.append("undo", 1);
                sendData(formData, chartInstance);
            } else if (value === "redo") {
                const formData = new FormData();
                formData.append("redo", 1);
                sendData(formData, chartInstance);
            } else if (value === "export") {
                window.location.href = '{{ url_for('XKnowledge.XKExportFile') }}';
            }
        });

    </script>
</div>
{% endblock %}
